* {
    margin    : 0;
    padding   : 0;
    box-sizing: border-box;
}

@font-face {
    font-family: IranYekan;
    src        : url("../../../fonts/IranYekan/IRANYekanWeb-Medium.eot");
    src        : url("../../../fonts/IranYekan/IRANYekanWeb-Medium.ttf");
    src        : url("../../../fonts/IranYekan/IRANYekanWeb-Medium.woff");
    src        : url("../../../fonts/IranYekan/IRANYekanWeb-Medium.woff2");
}

:root {
    --PersianYekan: IranYekan;
}

.wrapper {
    width           : 100%;
}